.App {
    background: url("https://cdn.shazoo.ru/380792_6O2CjXdvE8_3522347_starwars6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 1em 1em;
    max-width: 100vw;

}

.wrap {
    background: rgba(255,255,215,0.4);
    min-height: 100vh;
    padding: 2em 2em;
}
.divButtonSearch {
    display: flex;
    justify-content: center;
    margin: 3em;

}
.divButtonSearch input {
    min-width: 40%;
    height: 2em;
}
.fontInInput {
    background-color: khaki;
    height: 1.3em;
    min-width: 3em;
    padding: 0.3em;
    border: solid 1px black;
}

@media (min-width: 320px) and (max-width: 414px) {
.App {
    background-size: cover;
    background-position: center center;
}
}